<!-- {%extends "base.html"%}

{% block title %}Error{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<h1 class="errorstyle">500 Error:Internal server error!对不起，小的尽力了。</h1>
{% endblock %} -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Codo - Error</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <img class="backgroundimg" src="../static/img/background.png">
    <h1 class="errorstyle">500 Error:Internal server error!对不起，小的尽力了。</h1>
</body>
</html>